#header {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid #CCC;
  background: url('/assets/images/honey_im_subtle.png');
}

#header a.novisited {
  color: #999;
}

a:link, .novisited:visited {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            #333;
}

a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            gray;
}
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  font-weight:      bold;
  color:            gray;
}
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  color:            gray;
}

h1 {
  padding-left: 35px;
  padding-right: 35px;
  color: #444;
  text-shadow: 1px -1px #CCC;
  margin: 0 0;
}

body {
  margin: 0 auto;
  max-width: 45em;
  color: #333;
  background-color: #585858;
  background: url('/assets/images/low_contrast_linen.png');
}

#main_content {
  background-color: white;
  box-shadow: 0 0 20px 15px hsla(0, 0%, 0%, 0.3);
}

p {
  line-height: 1.5;
}

article {
  margin-left: 40px;
  margin-right: 40px;
  padding: 35px;
  border-bottom: 1px solid #333;
}

article footer {
  font-size: 12px;
  font-style: italic;
  padding-top:1em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background-image:url('/assets/images/low_contrast_linen_2X.png');
    background-size: 500px 500px;
  }

  #header {
    background: url('/assets/images/honey_im_subtle_2X.png');
    background-size: 179px 132px;
  }
}
