a:link, a.novisited:visited {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            black;
}
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            gray;
}
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  font-weight:      bold;
  color:            gray;
}
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  color:            gray;
}

body {
  margin: 0 auto;
  max-width: 45em;
  color: #333;

  background-image:url('/assets/images/ricepaper.png');
}

p {
  line-height: 1.5;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    body {
        background-image:url('/assets/images/ricepaper_@2x.png');
        background-size: 500px 500px;
    }
}

