a:link, .novisited:visited {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            black;
}
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            gray;
}
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  font-weight:      bold;
  color:            gray;
}
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  color:            gray;
}

body {
  margin: 0 auto;
  max-width: 45em;
  color: #333;
  background-color: #585858;
  background: url('/assets/images/low_contrast_linen.png');
}

#main_content {
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 20px 15px hsla(0, 0%, 0%, 0.3);
}

p {
  line-height: 1.5;
}

article {
  padding: 1.5em;
  border-bottom: 1px solid #333;
}

article footer {
  font-size: 12px;
  font-style: italic;
  padding-top:1em;
}

/*article:not(:last-child) {
  border-bottom: 1px solid #333;
}*/
